@model Models.Entities.Category

@{
    ViewData["Title"] = "Create Category";
}

<h2>Create Category</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="CatName" class="form-label">Category Name: </label>
        <input asp-for="CatName" class="form-control" />
        <span asp-validation-for="CatName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CatOrder" class="form-label">Category Order: </label>
        <input asp-for="CatOrder" class="form-control" />
        <span asp-validation-for="CatOrder" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
