@model Models.Entities.Category

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="catName" class="form-label">Category Name</label>
        <input asp-for="catName" class="form-control" />
        <span asp-validation-for="catName" class="text-danger small"></span>
    </div>
    <div class="mb-3">
        <label asp-for="catOrder" class="form-label">Category Order</label>
        <input asp-for="catOrder" class="form-control" />
        <span asp-validation-for="catOrder" class="text-danger small"></span>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-warning">Save Changes</button>
    </div>
</form>
