@model Models.Entities.Product

<div>
    <h5>Title: @Model.Title</h5>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Author:</strong> @Model.Author</p>
    <p><strong>Price:</strong> $@Model.Price</p>
    <p><strong>Category:</strong> @Model.Category.catName</p>
</div>
