@{
    ViewData["Title"] = "Home";
}

<div style="text-align: center; margin-top: 100px;">
    <h1 style="font-size: 3em; color: #888;">🚧 Page Not Implemented Yet</h1>
    <p style="font-size: 1.5em; color: #aaa;">We're still working on this page. Please check back later.</p>
</div>
